.game-field {
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 150px;
  height: 150px;
  &-not-win {
    border: 0px solid #fff;
  }
}

.winCell {
  border: 5px solid green;
}
